@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-ireland-green hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-300;
  }
  
  .card {
    @apply bg-white rounded-xl shadow-lg p-6 border border-gray-100;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.leaflet-overlay-pane {
    z-index: 400 !important;
}